<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>

    <!-- Navbar -->
    <%- include('../components/adminheader.ejs');%>

        <!-- Sidebar -->
        <div class="container-fluid">
            <div class="row">
                <%- include('../components/adminsidebar.ejs');%>

                    <!-- Main content -->
                    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                        <h4><%= __("communities")%></h4>
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCommunity"><%= __("addcommunity")%></button>
                        <ul class="list-group mt-4">
                            <% communities.forEach(community=> { %>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div class="">
                                        <a href="/admin/communities/<%= community.name %>" class="text-dark">
                                            <%= community.name %>
                                        </a>
                                        <span class="badge bg-primary rounded-pill">
                                            <%= community.members.length %> <%= __("members")%>
                                        </span>
                                    </div>
                                    <div class="">
                                        <a href="/communities/<%= community.name %>" class="btn btn-secondary"><%= __("view")%></a>
                                        <button class="btn btn-primary edit-community-button"
                                            data-community-name="<%= community.name%>"
                                            data-community-description="<%= community.description%>"
                                            data-community-rules="<% let result = community.rules.join(','); %><%= result %>"><%= __("edit")%></button>
                                        <button class="btn btn-danger delete-community-button" data-community-name="<%= community.name %>"><%= __("delete")%></button>

                                    </div>
                                </li>
                                <hr>
                                <% }); %>
                        </ul>
                        <div class="modal fade" id="addCommunity" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" action="/admin/api/communities/add"
                                            enctype="multipart/form-data">
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label for=""><%= __("name")%></label>
                                                    <input type="text" id="" name="name" class="form-control"
                                                        placeholder="Enter community name" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for=""><%= __("description")%></label>
                                                    <input type="text" id="" name="description" class="form-control"
                                                        placeholder="Enter community name" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for=""><%= __("communityava")%></label>
                                                    <input type="file" id="" name="ava" class="form-control"
                                                        placeholder="Enter community name" required>
                                                </div>
                                            </div>
                                            <div id="messages" type="alert alert-danger"></div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal"><%= __("close")%></button>
                                                <button type="submit" class="btn btn-primary"><%= __("create")%></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="editCommunityModal" tabindex="-1"
                            aria-labelledby="editTopicModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editCommunityModalLabel"><%= __("editcommunity")%></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="editCommunityForm" method="POST" enctype="multipart/form-data">

                                            <div class="form-group">
                                                <label for=""><%= __("name")%></label>
                                                <input type="text" name="communityName" id="communityName"
                                                    class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for=""><%= __("description")%></label>
                                                <input type="text" name="communityDescription" id="communityDescription"
                                                    class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for=""><%= __("communityava")%></label>
                                                <input type="file" name="communityAva" id="communityAva"
                                                    class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for=""><%= __("communitywallpaper")%></label>
                                                <input type="file" name="communityTopAva" id="communityTopAva"
                                                    class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for=""><%= __("rules")%></label>
                                                <input type="text" name="communityRules" id="communityRules"
                                                    class="form-control">
                                            </div>

                                            <input type="hidden" id="communityId" name="communityId">
                                            <button type="submit" class="btn btn-primary mt-3"><%= __("savechanges")%></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="deleteCommunityModal" tabindex="-1"
                            aria-labelledby="editTopicModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editCommunityModalLabel">Edit Community</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="editCommunityForm" method="POST" enctype="multipart/form-data">
                                            <h3>Are you sure you want to delete this community?<br>
                                            All posts in this community will be deleted
                                            </h3>
                                            <input type="hidden" id="communityId" name="communityId">
                                            <button type="submit" class="btn btn-danger mt-3">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
            </div>
        </div>


        <%- include('../components/footer.ejs');%>

            <!-- Bootstrap Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            <%- include('../components/javascripts.ejs');%>

                <script type="text/javascript" src="/javascripts/communities/edit.js"></script>

</body>

</html>