<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <!-- Navbar -->
    <%- include('../components/adminheader.ejs');%>

        <!-- Sidebar -->
        <div class="container-fluid">
            <div class="row">
                <%- include('../components/adminsidebar.ejs');%>

                    <!-- Main content -->
                    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                        <h4>Users</h4>
                        <button class="btn btn-primary">Add user</button>
                        <% users.forEach(user=> {%>
                            <div class="mt-3 d-flex flex-row justify-content-between">
                                <span>
                                    <%= user.name %>
                                        <%= user.lastname %> - <%= user.username %>
                                                <% if(user.is_admin){ %>
                                                    <p class="badge bg-dark">
                                                        Admin
                                                    </p>
                                                    <% } %>
                                </span><br>
                                <div class="">
                                    <a href="/profile/<%= user.username %>" class="btn btn-secondary text-white">View
                                        profile</a>
                                    <button data-user-id="<%= user._id %>" data-user-is-admin="<%= user.is_admin %>" data-user-username="<%= user.username%>" data-user-name="<%= user.name%>" data-user-lastname="<%= user.lastname%>" data-user-email="<%= user.email%>" data-user-country="<%= user.location.country%>" data-user-city="<%= user.location.city %>" data-bs-toggle="modal"
                                        data-bs-target="#editProfile" class="btn btn-primary text-white btn-edit">Edit</button>
                                    <button class="btn btn-danger btn-delete"
                                        data-username="<%= user.username %>">Delete</button>
                                </div>
                            </div>
                            <hr>
                            <% }); %>
                    </main>
                    <div class="modal fade" id="editProfile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Edit profile</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <form method="post" id="editForm" enctype="multipart/form-data">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="username">Username</label>
                                            <input type="text" id="username" name="username" class="form-control"
                                                placeholder="Enter new username" required />
                                        </div>
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="text" id="name" name="name" class="form-control"
                                                placeholder="Enter new name" required />
                                        </div>
                                        <div class="form-group">
                                            <label for="lastname">Lastname</label>
                                            <input type="text" id="lastname" name="lastname" class="form-control"
                                                placeholder="Enter new lastname" required />
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" id="email" name="email" class="form-control"
                                                placeholder="Enter new email" required />
                                        </div>
                                        <div class="form-group">
                                            <label for="">Avatar</label>
                                            <input type="file" id="avatar-field" name="avatar" class="form-control"
                                                placeholder="Enter new name">
                                        </div>
                                        <div class="form-group">
                                            <label for="">Country</label>
                                            <input type="text" id="country-field" name="country" class="form-control"
                                                value="<%= user.country ? user.country : '' %>" placeholder="Enter new Country">
                                        </div>
                                        <div class="form-group">
                                            <label for="">City</label>
                                            <input type="text" id="city-field" name="city" class="form-control"
                                                value="<%= user.city ? user.city : '' %>" placeholder="Enter new city">
                                        </div>
                                        <div class="form-group">
                                            <label for="">Is Admin?</label>
                                            <input type="checkbox" name="isadmin" id="isadmin" >
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>
        </div>


        <%- include('../components/footer.ejs');%>

            <!-- Bootstrap Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            <%- include('../components/javascripts.ejs');%>

                <script type="text/javascript" src="/javascripts/profile/delete.js"></script>
                <script type="text/javascript" src="/javascripts/profile/edit.js"></script>

</body>

</html>