<!-- Footer -->
<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-muted"><%= __("home")%></a></li>
            <li class="nav-item"><a href="/popular" class="nav-link px-2 text-muted"><%= __("popular")%></a></li>
            <li class="nav-item"><a href="/weather" class="nav-link px-2 text-muted"><%= __("weather")%></a></li>
            <% if (user) {%>
            <li class="nav-item"><a href="/profile/<%= user.username %>" class="nav-link px-2 text-muted"><%= __("profile")%></a></li>
            <% } %>
            <li class="nav-item"><a href="/quiz" class="nav-link px-2 text-muted">Quiz</a></li>
        </ul>
        <p class="text-center text-muted">© 2024 Mazhit Yedige, SE-2206</p>
    </footer>
</div>
<!-- End Footer -->