<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Reddit - Profile</title>

    <style>
        .comment {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <header>
        <%- include ('../components/header.ejs') %>
    </header>

    <main class="container mt-3">
        <div class="container mt-3">
            <div class="container">
                <div class="container-fluid">
                    <img src="" alt="" class="img-fluid w-100 fit">
                </div>
            </div>
            <div class="container mt-3">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="d-flex flex-row align-items-center gap-5">
                            <img src="<%= findUser.avatar %>" class="img-fluid rounded-circle" width="50" alt="">
                            <div class="fs-5 fw-bold">
                                <%= findUser.name %>
                                    <%= findUser.lastname %>
                                    <% if (findUser.is_admin){%>
                                        <span class="badge bg-dark"><%= __("admin")%></span>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-end">
                        <% if(user.username===findUser.username ){%>
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editProfile">
                                <div class="d-flex flex-row align-items-center gap-2">
                                    <img src="/images/profile/editprofile.png" class="img-fluid rounded" width="24"
                                        alt="">
                                    <strong><%= __("editprofile")%></strong>
                                </div>
                            </button>
                            <%}%>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center gap-2 p-2">
                    <div class="col-sm-2 col-md-2 text-center">
                        <img src="/images/profile/timeline.png" class="img-fluid" width="24" alt="">
                        <%= __("posts")%>
                    </div>
                    <div class="col-sm-2 col-md-2 text-center">
                        <img src="/images/profile/about.png" class="img-fluid" width="24" alt="">
                        <%= __("about")%>
                    </div>
                    <div class="col-sm-2 col-md-2 text-center">
                        <img src="/images/profile/communities.png" class="img-fluid" width="24" alt="">
                        <%= __("communities")%>
                    </div>
                    <div class="col-sm-2 col-md-2 text-center">
                        <img src="/images/profile/likes.png" class="img-fluid" width="24" alt="">
                        <%= __("likes")%>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container mt-3">
            <div class="row justify-content-between">
                <div class="col-md-2 rounded bg-light p-4">
                    <strong><%= __("about")%></strong>
                    <p>
                        <strong><%= __("joined")%>: </strong><br>
                        <span>
                            <%= findUser.createdAt.toLocaleString() %>
                        </span>
                    </p>
                    <p>
                        <strong><%= __("lives")%></strong><br>
                        <span>
                            <%= findUser.location.country %>, <%= findUser.location.city %>
                        </span>
                    </p>
                    <p>
                        <strong><%= __("email")%></strong><br>
                        <span>
                            <%= findUser.email %>
                        </span>
                    </p>
                    <p>
                        <strong><%= __("website")%></strong><br>
                        <span>
                            <%= findUser.username %>
                        </span>
                    </p>
                </div>
                <div class="col-md-7 rounded p-4">
                    <% posts.forEach(post=> { %>
                        <%- include ('../components/post_card.ejs', {post : post}); %>
                        <hr>
                    <%});%>
                </div>
                <div class="col-md-2 rounded bg-light p-4">
                    <strong><%= __("recentlyjoined")%></strong>
                    <% communities.forEach(community=> {%>
                        <p><a href="/communities/<%= community.name %>" class="text-dark">
                                <%= community.name %>
                            </a></p>
                        <% }); %>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editProfile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><%= __("editprofile")%></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="POST" action="/api/auth/edit-profile" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="">Name</label>
                                <input type="text" id="name-field" name="name" class="form-control" value="<%= user.name %>"
                                    placeholder="Enter new name">
                            </div>
                            <div class="form-group">
                                <label for="">Lastname</label>
                                <input type="text" id="lastname-field" name="lastname" class="form-control" value="<%= user.lastname %>"
                                    placeholder="Enter new lastname">
                            </div>
                            <div class="form-group">
                                <label for="">Avarar</label>
                                <input type="file" id="avatar-field" name="avatar" class="form-control" placeholder="Enter new name">
                            </div>
                            <div class="form-group">
                                <label for="">Country</label>
                                <input type="text" id="country-field" name="country" class="form-control" value="<%= user.country ? user.country : '' %>
                                " placeholder="Enter new Country">
                            </div>
                            <div class="form-group">
                                <label for="">City</label>
                                <input type="text" id="city-field" name="city" class="form-control"
                                    value="<%= user.city ? user.city : '' %>" placeholder="Enter new city">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include ('../components/footer.ejs') %>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/profile/profile.js"></script>
    <script type="text/javascript" src="/javascripts/posts/posts.js"></script>
    <%- include ('../components/javascripts.ejs') %>
</body>

</html>